*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #EEE8E1;
    min-height: 100vh;
}
.logo{
    height: 70px;
    width: auto;
}
.card-img-top{
    height: 300px;
    width: auto;
}
.img-carrito{
    width: 25px;    
    height: auto;
}
.carrito{
    padding: 20px;
    border: #EEE8E1;
}