*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #f0eae3;
    min-height: 100vh;
}
.logo{
    height: 70px;
    width: auto;
}

/*Estilos index*/
.span p{
    margin-right: 10px;
}
.span .bi{
    font-size: 50px;
    margin: 5px;
}

.seguinos{
    background-color: #e8e0d6;
    margin-bottom: 5vh;
}
.seguinos a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.seguinos .bi{
    font-size: 60px;
}
/*Estilo Productos*/
.titulo-secciones{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.categorias{
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.categorias a{
    text-decoration: none;
    color: black; 
    font-style:oblique;
}
.row{
    margin-right: 0px;
}
.card-img-top{
    height: 300px;
    width: auto;
}
.card-producto{
    width: 20rem;
    margin: 5px;
}
.img-carrito{
    width: 25px;    
    height: auto;
}
.carrito{
    padding: 20px;
    border: #EEE8E1;
}
.img-nosotros{
    width: 300px;
    height: auto;
}

.footer{
    margin: 10px, 0px  ;
    padding: 10px;
    background-color: #dcd0c0;
}
.footer div {
    margin-bottom: 10px;
    color: black;
    text-align: center;
}
.footer div a{
    text-decoration: none;
    color: black;
}
.footer div li{
    list-style: none;
    margin-left: 15px;
 }
 .footer2{
     background-color: #EEE8E1;
 }